.ArticleMain{
	.article-con{
		min-height: 650px;
	}
	.write-t{
		float: right;
	}
	blockquote{
		border-left: 2px solid #4A90E2;
	    background: #F6F6B1;
	    color: #555;
	    font-size: 1em;
	    padding: 10px 20px;
	    margin: 10px 0;
	    
	}
	img{
		display: block;
	}
	strong{
		color: #333;
	}
	pre{
		border-radius: 4px;
		max-height: 500px;
		overflow: auto;
	}
	a{
    	color: #4A90E2;
    }
}