@font-face{
    font-family: mxFont;
    src:url('../font/mxFont.ttf');
}
@font-face{
    font-family: Infinity;
    src:url('../font/Infinity.ttf');
}
@font-face{
    font-family: lvdou;
    src:url('../font/lvdou.otf');
}
html,body{
    width:100%;
    height: 100%;
    color:#888;
    font-family: mxFont;
    font-weight: 200;
    background: #f7f7f7;
}
#mx,#Root{
    width: 100%;
    height: 100%;
}

.main-body{
    margin-left: 256px;
    position: relative; 
    font-family: lvdou;
}
.container{
    width: 60%;
    margin: 30px auto;
    h1{
        text-align: center;
        padding-bottom: 10px;
        position: relative;
        font-size: 30px;
        margin-bottom: 15px;
        &:after{
            content: '';
            width: 128px;
            height: 1px;
            bottom: 0;
            left: 50%;
            margin-left: -64px;
            background: #888;
            position: absolute;
            display: block;
        }
    }
    p{
        line-height: 30px;
        text-indent: 2em;
        word-break: break-all;
        margin-top: 10px;
    }
}
.blue{
    color: #4A90E2;
}
