

.Header{
	width: 256px;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	.head-img-wrap{
		padding: 64px;
		.author-img{
			display: block;
			border-radius: 50%;
			width: 128px;
			height: 128px;
			background: url(../img/author.jpg);
			background-size: cover;
			background-position: 20% 20%;
			transition: transform 0.5s;
			transform: rotate(90deg);
			&:hover{
				transform:rotate(450deg);
			}
		}
	}
	.head-ul{
		margin:0;
		padding:0;
		list-style: none;
		li{
			position: relative;
			line-height: 40px;
			&:hover .hover{
				width:100%;
				opacity: 1;
			}
			&:first-child{
				border-top: none;
			}
			.link{
				display: block;
				color: #666;
				padding: 0 10px;
			}
			.hover{
				display: block;
				background: #666;
				width: 0;
				position: absolute;
				padding: 0 10px;
				left: 0;
				top: 0;
				transition: width 0.5s,opacity 0.5s;
				box-sizing:border-box; 
				text-align: right;
				opacity: 0;
				color: #fff;
			}
			border-top:1px solid #f0f0f0;
		}
		.current{
			border-right: 4px solid #888;
		}
	}
	.footer{
		position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    padding: 20px;
	    border-top: 1px solid #f0f0f0;
	    font-size: 14px;
	    font-family: lvdou;
	    .blue{
	    	font-weight: bold;
	    	letter-spacing: 3px;
	    	margin-left: 5px;
	    }
	}
}