
.MainHeader{
	font-family: Infinity;
	height: 256px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: #fff;
	position: relative;
	text-align: center;
	.wrap{
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		padding: 20px;
		z-index: 2;
		p:first-child{
			line-height:75px;
			font-size: 50px;
		}
		p:last-child{
			line-height:55px;
			font-size: 30px;
		}
	}
}